MPPT_Schneider_flows.json
[{"id":"daab6f9a.bcf84","type":"tab","label":"MODBus MPPT's","disabled":false,"info":""},{"id":"e7b36034.7228c","type":"function","z":"daab6f9a.bcf84","name":"FC3 30 [88]","func":"msg.payload = {\n    'value': msg.payload,\n    'fc': 3,\n    'unitid': 30,\n    'address': 88,\n    'quantity': 2 }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":200,"wires":[["30e1441c.c1c8bc"]]},{"id":"30e1441c.c1c8bc","type":"modbus-flex-getter","z":"daab6f9a.bcf84","name":"Gateway Modbus Connection","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"1233cd5b.1b7133","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":true,"x":600,"y":260,"wires":[["666843ae.f409bc"],[]]},{"id":"8c7bfeb6.c6e67","type":"function","z":"daab6f9a.bcf84","name":"FC3 30 [90]","func":"msg.payload = {\n    'value': msg.payload,\n    'fc': 3,\n    'unitid': 30,\n    'address': 90,\n    'quantity': 2 }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":360,"wires":[["30e1441c.c1c8bc"]]},{"id":"51ac0fdb.1c2a2","type":"function","z":"daab6f9a.bcf84","name":"FC3 30 [76]","func":"msg.payload = {\n    'value': msg.payload,\n    'fc': 3,\n    'unitid': 30,\n    'address': 76,\n    'quantity': 6 }\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":280,"wires":[["30e1441c.c1c8bc"]]},{"id":"885020ab.872e5","type":"comment","z":"daab6f9a.bcf84","name":"Information from MPPT 60 1","info":"","x":580,"y":200,"wires":[]},{"id":"bf9338cd.1f6388","type":"switch","z":"daab6f9a.bcf84","name":"","property":"modbusRequest.address","propertyType":"msg","rules":[{"t":"eq","v":"88","vt":"str"},{"t":"eq","v":"76","vt":"str"},{"t":"eq","v":"90","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"64","vt":"str"},{"t":"eq","v":"70","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":990,"y":1140,"wires":[["d65d4e40.baeca"],["826baf0c.fc2f1"],["357897a3.4e9068"],[],["a2006176.7640d"],["21c4aa4.d08ac56"]]},{"id":"75c88a84.a149c4","type":"function","z":"daab6f9a.bcf84","name":"FC3 31 [88]","func":"msg.payload = {\n    'value': msg.payload,\n    'fc': 3,\n    'unitid': 31,\n    'address': 88,\n    'quantity': 2 }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":780,"wires":[["f228ea70.f45128"]]},{"id":"f228ea70.f45128","type":"modbus-flex-getter","z":"daab6f9a.bcf84","name":"Gateway Modbus Connection","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"1233cd5b.1b7133","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":true,"x":620,"y":840,"wires":[["bf9338cd.1f6388"],[]]},{"id":"a308044a.2d46d8","type":"function","z":"daab6f9a.bcf84","name":"FC3 31 [90]","func":"msg.payload = {\n    'value': msg.payload,\n    'fc': 3,\n    'unitid': 31,\n    'address': 90,\n    'quantity': 2 }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":940,"wires":[["f228ea70.f45128"]]},{"id":"5b1ebc15.21d664","type":"function","z":"daab6f9a.bcf84","name":"FC3 31 [76]","func":"msg.payload = {\n    'value': msg.payload,\n    'fc': 3,\n    'unitid': 31,\n    'address': 76,\n    'quantity': 6 }\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":860,"wires":[["f228ea70.f45128"]]},{"id":"ea5b9e24.b0592","type":"comment","z":"daab6f9a.bcf84","name":"Information from MPPT 60 2","info":"","x":600,"y":780,"wires":[]},{"id":"666843ae.f409bc","type":"switch","z":"daab6f9a.bcf84","name":"","property":"modbusRequest.address","propertyType":"msg","rules":[{"t":"eq","v":"88","vt":"str"},{"t":"eq","v":"76","vt":"str"},{"t":"eq","v":"90","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"64","vt":"str"},{"t":"eq","v":"70","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":890,"y":220,"wires":[["e8d25cc7.8f224"],["6518f012.b4fd3"],["adc1a6e1.6ac9e8"],[],["c400c460.a687d8"],["6700c26e.e29b8c"]]},{"id":"907dd239.0c159","type":"inject","z":"daab6f9a.bcf84","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":90,"y":540,"wires":[["e7b36034.7228c","51ac0fdb.1c2a2","8c7bfeb6.c6e67","75c88a84.a149c4","5b1ebc15.21d664","a308044a.2d46d8","fca4a31c.39e9","3e002ce4.996d54","748589a7.d2adf8","614c104f.763b"]]},{"id":"d65d4e40.baeca","type":"function","z":"daab6f9a.bcf84","name":"Function to Voltage","func":"const buf = Buffer.from(msg.responseBuffer.buffer);\nconst value = buf.readUInt16BE(2);\nmsg.payload = value/1000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":1120,"wires":[["1134ecaf.1772f3"]]},{"id":"1134ecaf.1772f3","type":"ha-entity","z":"daab6f9a.bcf84","name":"Entity_Schneider","server":"b318da48.dfd018","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Schneider Output DC Voltage from MPPT2"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[{"property":"entity_id","value":"sensor.schneider_DCOUT_Voltage_MPPT2","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1730,"y":1100,"wires":[[]]},{"id":"e5a63c45.ba53f","type":"ha-entity","z":"daab6f9a.bcf84","name":"Entity_Schneider","server":"b318da48.dfd018","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Schneider PV Voltage from MPPT2"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload[0]","stateType":"msg","attributes":[{"property":"entity_id","value":"sensor.schneider_PV_Voltage_MPPT2","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1730,"y":1180,"wires":[[]]},{"id":"784e651a.41509c","type":"ha-entity","z":"daab6f9a.bcf84","name":"Entity_Schneider","server":"b318da48.dfd018","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Schneider Input DC Current from MPPT2"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"A"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload[1]","stateType":"msg","attributes":[{"property":"entity_id","value":"sensor.schneider_DC_Current_MPPT2","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1730,"y":1240,"wires":[["834fe27.4fbef2"]]},{"id":"9c748403.9cb2d8","type":"ha-entity","z":"daab6f9a.bcf84","name":"Entity_Schneider","server":"b318da48.dfd018","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"SchneiderPV Power from MPPT2"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"W"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload[2]","stateType":"msg","attributes":[{"property":"entity_id","value":"sensor.schneider_PV_Power_MPPT2","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1730,"y":1300,"wires":[[]]},{"id":"357897a3.4e9068","type":"function","z":"daab6f9a.bcf84","name":"Function to DC Output A","func":"const buf = Buffer.from(msg.responseBuffer.buffer);\nconst value = buf.readUInt16BE(2);\nmsg.payload = value/1000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1430,"y":1440,"wires":[["85fc085a.5aa2d8"]]},{"id":"85fc085a.5aa2d8","type":"ha-entity","z":"daab6f9a.bcf84","name":"Entity_Schneider","server":"b318da48.dfd018","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Schneider DC Output Current from MPPT2"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"W"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[{"property":"entity_id","value":"sensor.schneider_DC_Out Current_MPPT2","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1730,"y":1460,"wires":[[]]},{"id":"e95eb7d.13c3d48","type":"ha-entity","z":"daab6f9a.bcf84","name":"Entity_Schneider","server":"b318da48.dfd018","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Schneider PV2 Votage from MPPT 2"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload[3]","stateType":"msg","attributes":[{"property":"entity_id","value":"sensor.schneider_PV_Voltage_MPPT2","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1730,"y":1360,"wires":[[]]},{"id":"e8d25cc7.8f224","type":"function","z":"daab6f9a.bcf84","name":"Function to Voltage","func":"const buf = Buffer.from(msg.responseBuffer.buffer);\nconst value = buf.readUInt16BE(2);\nmsg.payload = value/1000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1230,"y":100,"wires":[["73d0f12b.ba9a2"]]},{"id":"73d0f12b.ba9a2","type":"ha-entity","z":"daab6f9a.bcf84","name":"Entity_Schneider","server":"b318da48.dfd018","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Schneider Output DC Voltage from MPPT1"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[{"property":"entity_id","value":"sensor.schneider_DCOUT_Voltage_MPPT1","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1570,"y":80,"wires":[[]]},{"id":"64daae00.4bc064","type":"ha-entity","z":"daab6f9a.bcf84","name":"Entity_Schneider","server":"b318da48.dfd018","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Schneider PV Voltage from MPPT1"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload[0]","stateType":"msg","attributes":[{"property":"entity_id","value":"sensor.schneider_PV_Voltage_MPPT1","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1570,"y":160,"wires":[[]]},{"id":"7f2f68d0.cb4fc8","type":"ha-entity","z":"daab6f9a.bcf84","name":"Entity_Schneider","server":"b318da48.dfd018","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Schneider Input DC Current from MPPT1"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"A"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload[1]","stateType":"msg","attributes":[{"property":"entity_id","value":"sensor.schneider_DC_Current_MPPT1","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1570,"y":220,"wires":[["834fe27.4fbef2"]]},{"id":"a262e573.8bf888","type":"ha-entity","z":"daab6f9a.bcf84","name":"Entity_Schneider","server":"b318da48.dfd018","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"SchneiderPV Power from MPPT1"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"W"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload[2]","stateType":"msg","attributes":[{"property":"entity_id","value":"sensor.schneider_PV_Power_MPPT1","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1570,"y":300,"wires":[[]]},{"id":"adc1a6e1.6ac9e8","type":"function","z":"daab6f9a.bcf84","name":"Function to DC Output A","func":"const buf = Buffer.from(msg.responseBuffer.buffer);\nconst value = buf.readUInt16BE(2);\nmsg.payload = value/1000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1250,"y":380,"wires":[["73a642f8.9666dc"]]},{"id":"73a642f8.9666dc","type":"ha-entity","z":"daab6f9a.bcf84","name":"Entity_Schneider","server":"b318da48.dfd018","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Schneider DC Output Current from MPPT1"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"W"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[{"property":"entity_id","value":"sensor.schneider_DC_Out Current_MPPT1","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1570,"y":480,"wires":[[]]},{"id":"3544dbb.6438c24","type":"ha-entity","z":"daab6f9a.bcf84","name":"Entity_Schneider","server":"b318da48.dfd018","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Schneider PV1 Voltage from MPPT1"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload[3]","stateType":"msg","attributes":[{"property":"entity_id","value":"sensor.schneider_PV_Voltage_MPPT1","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1570,"y":360,"wires":[[]]},{"id":"4cbff079.4ece9","type":"comment","z":"daab6f9a.bcf84","name":"DC Output Current","info":"","x":1570,"y":440,"wires":[]},{"id":"3e002ce4.996d54","type":"function","z":"daab6f9a.bcf84","name":"FC3 30 [88]","func":"msg.payload = {\n    'value': msg.payload,\n    'fc': 3,\n    'unitid': 30,\n    'address': 64,\n    'quantity': 2 }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":120,"wires":[["30e1441c.c1c8bc"]]},{"id":"fca4a31c.39e9","type":"function","z":"daab6f9a.bcf84","name":"FC3 30 [88]","func":"msg.payload = {\n    'value': msg.payload,\n    'fc': 3,\n    'unitid': 31,\n    'address': 64,\n    'quantity': 2 }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":680,"wires":[["f228ea70.f45128"]]},{"id":"e5a8ee4e.3258c","type":"function","z":"daab6f9a.bcf84","name":"ConvertData","func":"\nswitch (msg.payload)\n    {\n    case 0:\n \n    msg.payload = \"Hibernate\";\n    break;\n    \n    \n    case 1:\n \n    msg.payload = \"Power Save\";\n    break;\n\n    case 2:\n\n    msg.payload = \"Safe Mode\";\n\n    break;\n    \n    case 3:\n \n    msg.payload = \"Operating\";    \n    \n    break;\n    \n    case 4:\n\n    msg.payload = \"Diagnostic Mode\";\n\n    break;    \n  \n    case 5:\n\n    msg.payload = \"Remote Power Off\";\n\n    break;    \n        \n    case 255:\n\n    msg.payload = \"Data Not Available\";\n    \n    \n    }\n\n//return [msg1,msg2,msg3];\nreturn msg;\n\n//const buf = Buffer.from(msg.responseBuffer.buffer);\n//const value = buf.readUInt16BE(2);\n//msg.payload = value;\n//return msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1610,"y":1680,"wires":[["cc9fadca.6233d"]]},{"id":"a2006176.7640d","type":"function","z":"daab6f9a.bcf84","name":"Device State","func":"const buf = Buffer.from(msg.responseBuffer.buffer);\nconst value = buf.readUInt16BE(0);\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1370,"y":1580,"wires":[["8b88b198.b4b2","e5a8ee4e.3258c"]]},{"id":"8b88b198.b4b2","type":"ha-entity","z":"daab6f9a.bcf84","name":"Entity_Schneider","server":"b318da48.dfd018","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Schneider Device State Number MPPT2"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[{"property":"entity_id","value":"sensor.schneider_DeviceStateNo_MPPT2","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1830,"y":1580,"wires":[[]]},{"id":"cc9fadca.6233d","type":"ha-entity","z":"daab6f9a.bcf84","name":"Entity_Schneider","server":"b318da48.dfd018","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Schneider Device State MPPT2"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[{"property":"entity_id","value":"sensor.schneider_DeviceState_MPPT2","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1830,"y":1680,"wires":[[]]},{"id":"7b300478.d3471c","type":"comment","z":"daab6f9a.bcf84","name":"MPPT Operating State","info":"","x":1560,"y":1560,"wires":[]},{"id":"8f05fe71.c5121","type":"function","z":"daab6f9a.bcf84","name":"ConvertData","func":"\nswitch (msg.payload)\n    {\n    case 0:\n \n    msg.payload = \"Hibernate\";\n    break;\n   \n    case 1:\n \n    msg.payload = \"Power Save\";\n    break;\n\n    case 2:\n\n    msg.payload = \"Safe Mode\";\n\n    break;\n    \n    case 3:\n \n    msg.payload = \"Operating\";    \n    \n    break;\n    \n    case 4:\n\n    msg.payload = \"Diagnostic Mode\";\n\n    break;    \n  \n    case 5:\n\n    msg.payload = \"Remote Power Off\";\n\n    break;    \n        \n    case 255:\n\n    msg.payload = \"Data Not Available\";\n    \n    \n    }\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1450,"y":700,"wires":[["e8198716.c090b8"]]},{"id":"c400c460.a687d8","type":"function","z":"daab6f9a.bcf84","name":"Device State","func":"const buf = Buffer.from(msg.responseBuffer.buffer);\nconst value = buf.readUInt16BE(0);\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":600,"wires":[["a74d27d8.e923c8","8f05fe71.c5121"]]},{"id":"a74d27d8.e923c8","type":"ha-entity","z":"daab6f9a.bcf84","name":"Entity_Schneider","server":"b318da48.dfd018","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Schneider Device State Number MPPT1"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[{"property":"entity_id","value":"sensor.schneider_DeviceStateNo_MPPT1","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1670,"y":600,"wires":[[]]},{"id":"e8198716.c090b8","type":"ha-entity","z":"daab6f9a.bcf84","name":"Entity_Schneider","server":"b318da48.dfd018","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Schneider Device State MPPT1"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[{"property":"entity_id","value":"sensor.schneider_DeviceState_MPPT1","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1670,"y":700,"wires":[[]]},{"id":"f3068d78.b10db","type":"comment","z":"daab6f9a.bcf84","name":"MPPT Operating State","info":"","x":1400,"y":580,"wires":[]},{"id":"834fe27.4fbef2","type":"switch","z":"daab6f9a.bcf84","name":"","property":"payload[1]","propertyType":"msg","rules":[{"t":"gte","v":"30","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2010,"y":560,"wires":[["ed39ab1a.c806e8"]]},{"id":"2a7cd3a3.733dec","type":"change","z":"daab6f9a.bcf84","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Enable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2380,"y":500,"wires":[[]]},{"id":"ed39ab1a.c806e8","type":"rbe","z":"daab6f9a.bcf84","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":2170,"y":520,"wires":[["2a7cd3a3.733dec"]]},{"id":"748589a7.d2adf8","type":"function","z":"daab6f9a.bcf84","name":"FC3 31 [70]","func":"msg.payload = {\n    'value': msg.payload,\n    'fc': 3,\n    'unitid': 31,\n    'address': 70,\n    'quantity': 10 }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1060,"wires":[["f228ea70.f45128"]]},{"id":"2770b97e.723d46","type":"function","z":"daab6f9a.bcf84","name":"ConvertData","func":"\nswitch (msg.payload)\n    {\n    case 768:\n \n    msg.payload = \"Not Charging\";\n    break;\n    \n    \n    case 769:\n \n    msg.payload = \"Bulk\";\n    break;\n\n    case 770:\n\n    msg.payload = \"Absorption\";\n\n    break;\n    \n    case 771:\n \n    msg.payload = \"Overcharge\";    \n    \n    break;\n    \n    case 772:\n\n    msg.payload = \"Equalize\";\n\n    break;    \n  \n    case 773:\n\n    msg.payload = \"Float\";\n\n    break;    \n        \n    case 774:\n\n    msg.payload = \"No Float\";\n    \n    \n    break;\n    \n    \n    case 775:\n \n    msg.payload = \"ConstantVI\";\n    break;\n\n    case 776:\n\n    msg.payload = \"Charger Disabled\";\n\n    break;\n    \n    case 777:\n \n    msg.payload = \"Qualifying AC\";    \n    \n    break;\n    \n    case 778:\n\n    msg.payload = \"Qualifying APS\";\n\n    break;    \n  \n    case 779:\n\n    msg.payload = \"Engaging Charger\";\n\n    break;    \n        \n    case 780:\n\n    msg.payload = \"Charger Fault\";\n    \n    \n    break;\n    \n    case 781:\n \n    msg.payload = \"Charger Suspend\";    \n    \n    break;\n    \n    case 782:\n\n    msg.payload = \"AC Good\";\n\n    break;    \n  \n    case 783:\n\n    msg.payload = \"APS Good\";\n\n    break;    \n  \n        \n    case 784:\n\n    msg.payload = \"AC Fault\";\n    \n    \n   break;\n    \n    case 785:\n \n    msg.payload = \"Charger\";    \n    \n    break;\n    \n    case 786:\n\n    msg.payload = \"Absortion Exit Pending\";\n\n    break;    \n  \n    case 787:\n\n    msg.payload = \"Ground Fault\";\n\n    break;    \n  \n        \n    case 788:\n\n    msg.payload = \"AC Good Pending\";\n    \n    \n    }\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1630,"y":1920,"wires":[["573b153f.f4018c"]]},{"id":"21c4aa4.d08ac56","type":"function","z":"daab6f9a.bcf84","name":"Device State","func":"const buf = Buffer.from(msg.responseBuffer.buffer);\nconst value = buf.readUInt16BE(6);\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":1820,"wires":[["680af69b.6424e8","2770b97e.723d46"]]},{"id":"680af69b.6424e8","type":"ha-entity","z":"daab6f9a.bcf84","name":"Entity_Schneider","server":"b318da48.dfd018","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Schneider Charge Controller Status Number MPPT2"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[{"property":"entity_id","value":"sensor.schneider_CharStsNo_MPPT2","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1850,"y":1820,"wires":[[]]},{"id":"a0941995.648d58","type":"comment","z":"daab6f9a.bcf84","name":"MPPT Charge Controller Status","info":"","x":1610,"y":1800,"wires":[]},{"id":"573b153f.f4018c","type":"ha-entity","z":"daab6f9a.bcf84","name":"Entity_Schneider","server":"b318da48.dfd018","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Schneider Charge Controller Status MPPT2"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[{"property":"entity_id","value":"sensor.schneider_CharSts_MPPT2","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1850,"y":1920,"wires":[[]]},{"id":"6274412c.53f84","type":"function","z":"daab6f9a.bcf84","name":"ConvertData","func":"\nswitch (msg.payload)\n    {\n    case 768:\n \n    msg.payload = \"Not Charging\";\n    break;\n    \n    \n    case 769:\n \n    msg.payload = \"Bulk\";\n    break;\n\n    case 770:\n\n    msg.payload = \"Absorption\";\n\n    break;\n    \n    case 771:\n \n    msg.payload = \"Overcharge\";    \n    \n    break;\n    \n    case 772:\n\n    msg.payload = \"Equalize\";\n\n    break;    \n  \n    case 773:\n\n    msg.payload = \"Float\";\n\n    break;    \n        \n    case 774:\n\n    msg.payload = \"No Float\";\n    \n    \n    break;\n    \n    \n    case 775:\n \n    msg.payload = \"ConstantVI\";\n    break;\n\n    case 776:\n\n    msg.payload = \"Charger Disabled\";\n\n    break;\n    \n    case 777:\n \n    msg.payload = \"Qualifying AC\";    \n    \n    break;\n    \n    case 778:\n\n    msg.payload = \"Qualifying APS\";\n\n    break;    \n  \n    case 779:\n\n    msg.payload = \"Engaging Charger\";\n\n    break;    \n        \n    case 780:\n\n    msg.payload = \"Charger Fault\";\n    \n    \n    break;\n    \n    case 781:\n \n    msg.payload = \"Charger Suspend\";    \n    \n    break;\n    \n    case 782:\n\n    msg.payload = \"AC Good\";\n\n    break;    \n  \n    case 783:\n\n    msg.payload = \"APS Good\";\n\n    break;    \n  \n        \n    case 784:\n\n    msg.payload = \"AC Fault\";\n    \n    \n   break;\n    \n    case 785:\n \n    msg.payload = \"Charger\";    \n    \n    break;\n    \n    case 786:\n\n    msg.payload = \"Absortion Exit Pending\";\n\n    break;    \n  \n    case 787:\n\n    msg.payload = \"Ground Fault\";\n\n    break;    \n  \n        \n    case 788:\n\n    msg.payload = \"AC Good Pending\";\n    \n    \n    }\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1470,"y":900,"wires":[["d59dd5c.cb3d128"]]},{"id":"6700c26e.e29b8c","type":"function","z":"daab6f9a.bcf84","name":"Device State","func":"const buf = Buffer.from(msg.responseBuffer.buffer);\nconst value = buf.readUInt16BE(6);\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1230,"y":800,"wires":[["ebcbebe2.8c3fb8","6274412c.53f84"]]},{"id":"ebcbebe2.8c3fb8","type":"ha-entity","z":"daab6f9a.bcf84","name":"Entity_Schneider","server":"b318da48.dfd018","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Schneider Charge Controller Status Number MPPT1"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[{"property":"entity_id","value":"sensor.schneider_CharStsNo_MPPT1","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1690,"y":800,"wires":[[]]},{"id":"4b7e2d90.1f0684","type":"comment","z":"daab6f9a.bcf84","name":"MPPT Charge Controller Status","info":"","x":1450,"y":780,"wires":[]},{"id":"d59dd5c.cb3d128","type":"ha-entity","z":"daab6f9a.bcf84","name":"Entity_Schneider","server":"b318da48.dfd018","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Schneider Charge Controller Status MPPT1"},{"property":"device_class","value":"sensor"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[{"property":"entity_id","value":"sensor.schneider_CharSts_MPPT1","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1690,"y":900,"wires":[[]]},{"id":"614c104f.763b","type":"function","z":"daab6f9a.bcf84","name":"FC3 31 [70]","func":"msg.payload = {\n    'value': msg.payload,\n    'fc': 3,\n    'unitid': 30,\n    'address': 70,\n    'quantity': 10 }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":460,"wires":[["30e1441c.c1c8bc"]]},{"id":"6518f012.b4fd3","type":"function","z":"daab6f9a.bcf84","name":"Function to Address 76","func":"const buf = Buffer.from(msg.responseBuffer.buffer);\nconst value1 = buf.readUInt16BE(2)/1000;\nconst value2 = buf.readUInt16BE(6)/1000;\nconst value3 = buf.readUInt16BE(10);\n//const value4 = value3/value2 || 0;\nconst value4 = parseFloat((value3/value2 || 0).toFixed(2));\nmsg.payload = [value1, value2, value3, value4];\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":220,"wires":[["64daae00.4bc064","7f2f68d0.cb4fc8","a262e573.8bf888","3544dbb.6438c24"]]},{"id":"826baf0c.fc2f1","type":"function","z":"daab6f9a.bcf84","name":"Function to Address 76","func":"const buf = Buffer.from(msg.responseBuffer.buffer);\nconst value1 = buf.readUInt16BE(2)/1000;\nconst value2 = buf.readUInt16BE(6)/1000;\nconst value3 = buf.readUInt16BE(10);\n//const value4 = value3/value2 || 0;\nconst value4 = parseFloat((value3/value2 || 0).toFixed(2));\nmsg.payload = [value1, value2, value3, value4];\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1410,"y":1220,"wires":[["e5a63c45.ba53f","784e651a.41509c","9c748403.9cb2d8","e95eb7d.13c3d48"]]},{"id":"1233cd5b.1b7133","type":"modbus-client","name":"Conext Gateway","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"queueLogEnabled":true,"tcpHost":"192.168.1.196","tcpPort":"503","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU","serialBaudrate":"19200","serialDatabits":"8","serialStopbits":"2","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"b318da48.dfd018","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30}]